@import "../fonts/fonts"
@import "./main"

.wrapperDesktopOS
    background: #2D2763

.desktopOS
    max-width: 1280px
    margin: 0 auto
    & .wrapperOS
        padding: 95px 0 74px 0
        display: flex
        flex-direction: column
        align-items: center
        position: relative
    & .imgPartOne
        position: absolute
        top: 0
        left: 0
    & .imgPartTwo
        position: absolute
        bottom: 0
        left: 0
    & .imgPartThree
        position: absolute
        top: 0
        right: 0
    & h1
        font-family: Roboto
        font-weight: 300
        @include adaptiv-font(42, 21)
        line-height: 52px
        text-align: center
        color: $cream
        z-index: 1
    & h3
        font-family: Roboto
        font-weight: 400
        @include adaptiv-font(18, 9)
        line-height: 28px
        text-align: center
        color: #C8C4FF
        margin: 16px 0 48px 0
        z-index: 1
    & .panelBtn
        display: flex
        align-items: center
        cursor: pointer
        font-family: Roboto
        font-weight: 400
        @include adaptiv-font(14, 7)
        line-height: 20px
        border: 1px solid #887DFF
        border-radius: 32px
        padding: 18px 24px
        z-index: 1
        margin: 0 16px
        & a
            color: #887DFF
        & img
            margin-right: 19px
        &:hover
            font-size: 16px
            transition: .5s
    & .btns
        display: flex
    & .downloadBtn
        cursor: pointer
        margin-top: 56px
        font-family: Roboto
        font-weight: 700
        @include adaptiv-font(16, 8)
        line-height: 22px
        color: #2F2F3D
        background: $yellow
        border-radius: 4px
        padding: 13px 64px
        z-index: 1
        &:hover
            background: #c4e150
            transition: .5s