@import "../fonts/fonts"
@import "./main"

.preHeader
    & div:first-child
        border-top: 1px solid #25252E
    & .copyRight
        & p
            // @include Roboto400
            font-family: Roboto
            font-weight: 400
            @include adaptiv-font(14, 7)
            line-height: 20px
            color: #464753
        & a
            // @include Roboto400
            font-family: Roboto
            font-weight: 400
            @include adaptiv-font(14, 7)
            line-height: 20px
            color: #A3A3B1
    & .icons a
        margin: 24px 0
        &:hover
            filter: invert(57%) sepia(7%) saturate(6414%) hue-rotate(207deg) brightness(83%) contrast(88%)
            transition: .2s
        & img
            width: 32px
            height: 32px