@import "../fonts/fonts"

.sliderVideo
    & .btns
        padding: 32px 0
    & .btn
        display: inline-flex
        border: 1px solid #887DFF
        padding: 14px 16px
        margin-right: 16px
        cursor: pointer
        position: relative
        & img
            z-index: 1
        & a
            @include Roboto400
            @include adaptiv-font(18, 9)
            line-height: 28px
            color: #887DFF
            margin-left: 8px
            z-index: 1
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: #2D2763
            transition: transform 0.7s
            transform-origin: 0 0
            transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7)
            transform: scaleX(0)
        &:hover::before
            transform: scaleX(1)
        &:hover a
            color: white
            transition: .5s
    & .text
        max-width: 352px
        width: 100%
        & h3
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 32px
            line-height: 40px
            color: #ECECEC
            margin: 16px 0
        & h6
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 28px
            color: #A3A3B1
        & p
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #71717E
        & a
            margin-right: 16px
    & .diagram
        width: 768px
        height: 566px
    